#Ignore outputs of compilations

*\.pyc
*\.out
*\.so
*\.o
*cmake-build-debug*
*\.nbc
*\.nbi
*\.lprof
*\.prof

# Ignore configs
*\.idea*
*\.DS_Store
*\.params

# Large files
*\.pkl

# Git files 
*\.swp
